/* thumbnail */
.thumbnail {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
/* video  */
.video {
  width: 100%;
}
.video__player-wrapper {
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  position: relative;
}

.video__detail {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.video__logo {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: gray;
}
.video__text-content {
  flex-grow: 1;
  flex-shrink: 1;
  line-height: 1.5;
  font-size: 1.2rem;
}
.video__title {
  overflow-wrap: anywhere;
}
.video__meta {
  font-size: 1rem;
  color: gray;
}
.video__more {
  width: max-content;
  font-size: 1.2rem;
}
